if (journeys.length > 0)
  each journey in journeys
    .journey.border.row.clickable(data-link="/journey/#{journey._id}")
        .small-6.medium-4.columns.verticalAlign
            #driverPicture(style="background-image: url('#{config.USER_PICTURE_BASE_URL + journey.driverLogin}')")
            a(href="/profile/#{journey.driverLogin}")= journey.driverFullName
        .small-6.medium-4.columns.verticalAlign
          .margin-auto
            h5 #{myFunctions.formatDate(journey.datetime)} à #{myFunctions.formatTime(journey.datetime)}
            h5.noWordBreak #{journey.fromCity} → !{myFunctions.nonBreakingSpace(journey.toCity)} 
        .small-12.medium-4.columns
          .row
            .small-6.columns.textAlignCenter
              .stat #{journey.price}€ 
              | par place
            .small-6.columns.textAlignCenter
              .stat #{journey.availableSeats}
              | place(s) restante(s)
          .small-12.columns
            span.label Test
        // Bug if remove 
        span
else
  .columns.verticalAlign
    p Aucun covoiturage pour le moment.
