extends ./layout.jade

block vars
  - var pageTitle="Trajet " + journey.fromCity + " à " + journey.toCity
  - var needGoogleMaps=true
  - var loadSideScript=true

block content
  .space
  .row.small-11.small-centered.columns
    .large-12.columns
      h2 #{journey.fromCity} → #{journey.toCity}
    .large-8.columns
      div#map.map
      table
        tbody
          tr
            td Etapes
            td None
          tr
            td Départ
            td#from= journey.fromAddress
          tr
            td Heure
            td= myFunctions.formatTime(journey.datetime)
          tr
            td Arrivée
            td#to= journey.toAddress
          tr
            td Durée
            td #{journey.duration} (arrivée vers #{myFunctions.formatTime(journey.datetimeArrival)})
          tr
            td Date 
            td= myFunctions.formatDate(journey.datetime)
          tr
            td Distance
            td= journey.distance
    .large-4.columns
      .border
        .media-object.noMarginBottom
          .media-object-section
            .thumbnail
              #driverPicture(style="background-image: url('#{config.USER_PICTURE_BASE_URL + journey.driverLogin}')")
          .media-object-section.middle
            a(href="#{journey.driverLogin}") #{journey.driverFullName}
        .small-12.columns.row
          .small-6.columns
            p 
              .stat #{journey.price}€ 
              | par place
          .small-6.columns
            p
              .stat 2
              | places restantes
        a#book.button.large.expanded(href="") Réserver
    .small-12.columns
      .border.padding
        h3 Commentaire
        if (journey.comment !== "")
          p= journey.comment
        else
          p Aucun commentaire du conducteur.
    .small-12.columns
      .border.padding
        h3 Discussion
        p Bla bla
