- var pageTitle="Trajet"
- var needGoogleMaps=true
include header.jade

.row.small-11.small-centered.columns
  .large-8.columns
    h4 #{journey.from} → #{journey.to}
    p Etapes : None !
    div#map.map
    p Détails
      p Départ #{journey.from}
      p Arrivée #{journey.to}
    p Heure :#{journey.datetime}
    p Date :#{journey.datetime}
  .large-4.columns
    p Sd is here

script.
  window.onload = function() {
     createJourneyMap("#{journey.from}", "#{journey.to}", "map");
  }

include footer.jade
