extends ./layout.jade

block vars
  - var pageTitle="Proposer"
  - var needDatePicker=true
  - var needGoogleMaps=true
  - var loadSideScript="offer"

block content
  mixin optionMinutes
    - for (var i = 0; i < 60; i+=5)
      - var j = ('0' + i).slice(-2)
      option(value="#{j}")= j
  mixin optionHours
    - for (var i = 0; i < 24; ++i)
      option(value="#{i}")= i
  .space
  form.row.small-11.small-centered.columns
    h1 Proposer un trajet
    h3 Trajet
    .large-6.small-12.column
      .input-group
        span.input-group-label A partir de
        input#from.input-group-field(type="text", placeholder="Entrez un lieu")
      div#fromMap.map
    .large-6.small-12.column
      .input-group
        span.input-group-label Jusqu'à
        input#to.input-group-field(type="text", placeholder="Entrez un lieu")
      div#toMap.map
    hr
    h3 Aller
    .small-6.column.large-3.large-offset-3
      .input-group
        span.input-group-label Heure
        select#hour.input-group-field
          +optionHours
    .small-6.column.large-3.end
      .input-group
        span.input-group-label Minute
        select#minute.input-group-field
          +optionMinutes
    .small-12.large-6.large-centered.column
      .input-group
        span.input-group-label Date
        input#date.input-group-field(type="text")
    hr
    h3 Etapes
    .small-12.column.large-6.large-centered
     #stages.input-group(style="display:none")
      span.input-group-label Etape
    .small-12.column.large-6.large-centered
      a#addStage.small.expanded.button Ajouter une étape
    hr
    h3 Retour
    .small-12.column
      h5 J'effectue un retour
      .switch
        input#twoWay.switch-input(type="checkbox", autocomplete="off")
        label.switch-paddle(for="twoWay")
      #twoWayDiv(style="display: none")
        .small-6.column.large-3.large-offset-3
          .input-group
            span.input-group-label Heure
            select#returnHour.input-group-field
              +optionHours
        .small-6.column.large-3.end
          .input-group
            span.input-group-label Minute
            select#returnMinute.input-group-field
                +optionMinutes
        .small-12.large-6.large-centered.column
          .input-group
            span.input-group-label Date
            input#returnDate.input-group-field(type="text")
        // Bug if you remove the following line
        span 
    hr
    h3 Options
    //
      .small-12.column
        h5 Je prends l'autoroute
        .switch
          input#highway.switch-input(type="checkbox", checked)
          label.switch-paddle(for="highway")
    .small-12.column.large-6.large-centered
      .input-group
        span.input-group-label Places disponibles
        select#availableSeats.input-group-field
          - for (var i = 1; i < 6; ++i)
            option(value="#{i}") #{i} 
    .small-12.column.large-6.large-centered
      .input-group
        span.input-group-label Prix
        input#price.input-group-field(type="number", value="5", autocomplete="off")
    hr
    h3 Commentaires
    .small-12.column.large-6.large-centered
      .input-group
        textarea#comment(rows="6", placeholder="Vous pouvez précisez quelque chose sur le trajet.")
    hr
    .small-12.large-6.large-centered.column
      button.expanded.button Proposer
    // Bug if you remove the following line                                 
    span
