extends ./layout.jade

block vars
  - var pageTitle="Rechercher"
  - var loadSideScript=true
  - var needDatePicker=true
  - var needSlider=true

block content
  .space
  .row.small-11.small-centered.columns
    h2 #{defaultString(query.fromCity, "*")} → #{defaultString(query.toCity, "*")}
  #searchOptions.row.small-11.small-centered.columns.border
    .small-12.large-4.columns(style="margin-bottom: 1.5em")
      .input-group
        span.input-group-label Date
        input#date.input-group-field(type="text", autocomplete="off", placeholder="Entrez une date")
    .small-12.large-4.columns#timeDiv
      #time
    .small-12.large-4.columns
      .input-group
        span.input-group-label Rayon de recherche
        select#radius.input-group-field
          - for (var n of [5,10,20,30,50,100])
            option(value="#{n}") #{n} Km
  #searchResults.row.small-11.small-centered.columns
  .hide
    #queryDate= query.date 
    #queryFrom= query.from
    #queryTo= query.to
    #queryFromCity= query.fromCity
    #queryToCity= query.toCity
